<section class="about section">
  <div class="about__abstract">
    <img src="img/about_abstract.png" alt="" />
  </div>
  <div class="about__container container">
    <h2 class="about__title title title_dark">Majmua haqida</h2>
    <p class="about__desc">
      "Erkin Savdo Majmuasi" - bu qurilish mollari, maishiy texnika va
      oziq-ovqat mahsulotlari savdosiga ixtisoslashgan ulkan savdo-qurilish
      majmuasi. Ushbu loyiha o'z yo'lini 2018-yilda boshlagan bo'lib, savdo va
      tadbirkorlik uchun zarur bo'lgan sharoitlarni bir joyga va ayniqsa
      viloyatlik xaridorlar uchun qulay bo'lgan joyga jamlashdek oddiy g'oyadan
      tug'ilgan. "Erkin Savdo Majmuasi" qurilish materiallari bozori
      infratuzilmasini yaxshilash yo'lida ildamlamoqda va tadbirkorlarga eng
      yaxshi va foydali sharoitlarni ta'minlab berish uchun rivojlanishda davom
      etmoqda.
    </p>
  </div>
</section>
