<footer class="footer">
  <div class="footer__container container">
    <div class="row">
      <div class="col-lg-5">
        <span class="footer__logo">
          <img src="img/logos/logo_light.svg" alt="" />
        </span>
        <p class="footer__desc">
          "Erkin Savdo Majmuasi" - bu qurilish mollari, maishiy texnika va
          oziq-ovqat mahsulotlari savdosiga ixtisoslashgan ulkan savdo-qurilish
          majmuasi.
        </p>
      </div>
      <div class="col-lg-2">
        <span class="footer__title">Bo’limlar</span>
      </div>
      <div class="col-lg-5">
        <span class="footer__title">Ijtimoiy tarmoqlar</span>
      </div>
    </div>
  </div>
</footer>

<div class="copy">
  <div class="copy__container container">
    <p class="copy__text">
      © 2021 ООО «ERKIN SAVDO MAJMUASI». Все права защищены
    </p>
    <a class="webdev" href="http://xspace.uz/" target="_blank">
      Сайт разработан дизайн-студией “SPACE”
    </a>
  </div>
</div>
