<section class="partners">
  <div class="partners__container container">
    <h2 class="partners__title title title_dark">Hamkorlar</h2>

    <div class="partners__inner">
      <div class="partner">
        <img src="img/partners.svg" alt="" />
      </div>
      <div class="partner">
        <img src="img/partners.svg" alt="" />
      </div>
      <div class="partner">
        <img src="img/partners.svg" alt="" />
      </div>
      <div class="partner">
        <img src="img/partners.svg" alt="" />
      </div>
      <div class="partner">
        <img src="img/partners.svg" alt="" />
      </div>
      <div class="partner">
        <img src="img/partners.svg" alt="" />
      </div>
    </div>
  </div>
</section>
