@media (max-width: 1500px) {
  .hero__bot-image {
    bottom: 0;
  }
  .hero__title {
    padding: 15px 0;
  }
  .hero__circle_colored {
    top: 5%;
  }
  .hero__circle_bordered {
    top: 5%;
  }
  .gallery__slider {
    max-width: 800px;
  }
}
