.footer {
  position: relative;
  background: $primary;
  padding: 60px 0;
  &__logo {
    display: block;
    margin-bottom: 30px;
  }
  &__desc {
    font-size: 1.4rem;
    color: #999;
    line-height: 1.7rem;
  }
  &__title {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
    &::before {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 0;
      height: 2px;
      background: #9c9c9c;
    }
  }
  &__item {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 1.4rem;
    color: #9c9c9c;
  }
  &__subscribe {
    display: flex;
    margin-bottom: 40px;
    &-item {
      display: block;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 2px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
      transition: 0.3s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: #fff;
        & svg path {
          fill: $primary;
        }
      }
    }
  }
  &__phones {
    display: flex;
    & a {
      display: flex;
      align-items: center;
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 1.4rem;
      color: #ffdb00;
      &:first-child {
        margin-right: 45px;
      }

      & svg {
        margin-right: 10px;
      }
    }
  }
  &_pages::before {
    width: 100px;
  }
  &_soc::before {
    width: 205px;
  }
}

.copy {
  padding: 15px 0;
  background: #000;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-size: 1.4rem;
    color: #999;
  }
}

.webdev {
  font-size: 1.4rem;
  color: #999;
}
