.footer {
  position: relative;
  background: $primary;
  padding: 60px 0;
  &__logo {
    display: block;
    margin-bottom: 30px;
  }
  &__desc {
    font-size: 1.4rem;
    color: #999;
    line-height: 1.7rem;
  }
  &__title {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
    &::before {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #9c9c9c;
    }
  }
}

.copy {
  padding: 15px 0;
  background: #000;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-size: 1.4rem;
    color: #999;
  }
}

.webdev {
  font-size: 1.4rem;
  color: #999;
}
