.partners {
  padding: 100px 0;
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
}

.partner {
  width: calc(20% - 20px);
  height: 160px;
  margin: 10px;
  border: 1px solid #ededed;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  & img {
    transition: all 0.3s;
    filter: grayscale(100%);
  }
  &:hover {
    box-shadow: 0px 34px 39px rgba(0, 0, 0, 0.05);
    & img {
      filter: grayscale(0%);
    }
  }
}
