.banner {
  width: 100%;
  height: 172px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 80px;
  &__container {
    width: 100%;
    height: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 4.4rem;
    color: #fff;
    text-transform: uppercase;
  }
}

.single-page {
  padding: 100px 0;
  &__inner {
    margin-top: 20px;
  }
  &__title {
    display: block;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: $primary;
  }
  &__desc {
    display: block;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #000;
    margin-bottom: 15px;
  }
  &__date {
    display: block;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.4rem;
    color: #018ac0;
  }
  &__image {
    display: block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
